footer {
    height: fit-content;
    padding: 5rem;
    background-color: black;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-content-spacing{
    display: flex;
    justify-content: space-around;
    margin-right: 5rem;
}
 .services > p{
    padding: 4px 0;
 }
