#about-us-section {
    height: 80vh;
}

#pizzaiolo_character_img {
    width: 20vw;
    position: absolute;
    margin-left: 5rem;
}

.our-values {
    height: 40vh;
    max-width: 800px;
    margin: 5rem auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.our-values h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.our-values p {
    color: #666;
}

.our-values ul {
    list-style-type: none;
    padding: 0;
}

.our-values li {
    margin: 10px 0;
}

.button-alignment {
    display: flex;
    justify-content: center;
}